@(prizeTypes:List[models.lottery.prize.PrizeType], lid:Long, dtype:Option[models.lottery.drawing.DrawingType], nav: => Html, msg:String = "")(implicit session:play.api.mvc.Session)

@import utils.Format._
@import utils.FieldEncrypt._
@import models.lottery.prize.PrizeType

@main(title = "Neue Ziehungsbasis", nav) {

<p class='message @if("" == msg) {hidden}'>@if("" != msg) {@Messages.apply(msg)}</p>

<p id="message" class='message hidden'></p>

<form id='add_new_drawing_base_form' method='POST'>

	<ul class="dialog">
		<li>
			<span class="bold">Ziehungsbasis für @dtype.map(_.name).getOrElse("Ein Fehler aufgetreten")</span>
		<li>
		<li>
			<label for="base_name">Name</label>
			<input id="base_name" name="base_name" type="text"/></li>
		<li>
			<table>
				<thead>
				<tr>
					<th>Gewinnsumme</th>
					<th>GewinnTyp</th>
					<th>Hinzufügen</th>
					<th>Löschen</th>
				</tr>
				</thead>
				<tbody id="sortable">
				<tr>
					<td><input type="text" name="prize_1" id="prize_1"></td>
					<td>
						<select name="prize-type_1" id="prize-type_1">
							@prizeTypes.map { ptype =>
							<option value="@ptype.id.get">@ptype.name</option>
							}
						</select>
					</td>
					<td><a id="addprize_1" href="#" class="add add_prize_to_new_base"></a></td>
					<td><a id="rmprize_1" href="#" class="delete delete_prize_from_new_base"></a></td>
				</tr>
				</tbody>
			</table>
		</li>
		<li><input type="button" id="submit_new_drawing_base" name="submit_new_drawing_base" value="Speichern"/></li>
	</ul>
</form>
}

<script type="text/javascript">

	$(function () {
		dbase.setUrl("@controllers.lottery.dbase.routes.DBase.add(lid, sign(lid), dtype.map(_.id.get).getOrElse(1))");
		dbase.setSaveOk('@Messages("drawingbase.save.ok")');
		dbase.setSaveNotOk('@Messages("drawingbase.save.notok")');
		dbase.setCash("@PrizeType.CASH");
		dbase.setMat("@PrizeType.MATERIAL");
		dbase.setLid("@lid");
		dbase.setHlid("@sign(lid)");
		$("#submit_new_drawing_base").click(function () {
			dbase.submitNew();
		});
	});

</script>